<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
</head>
<body>


<h1> All Contacts </h1>

<!-- Replace/update the block below to use SQLite3 Database to store data perminantly
        <ul>

          <% @contacts.each do |contact| %>
  
  
    <%= contact.id %>
    <%= contact.first_name %>
    <%= contact.last_name %>
    <%= contact.email %>
    <%= contact.note %>
<% end %>
</ul>

-->

<ul>

  <% @contacts.each do |contact| %>
    <li> <a href="/contacts/<%= contact.id %>"><%= contact.first_name %><%= contact.last_name %> <%= contact.email %> <%= contact.note %></a></li>

      <% end %>

</ul>

</body>
</html>
