<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
</head>
<body>

<center>
<h1> Contacts </h1>

</center>

        <ul>

<% @contacts.each do |contact| %>
  
  
    <%= contact.id %>
    <%= contact.first_name %>
    <%= contact.last_name %>
    <%= contact.email %>
    <%= contact.note %>

  

  
<% end %>


</ul>

</body>
</html>
